services:
  db:
    image: postgres:14
    container_name: todo-db
    environment:
      POSTGRES_DB: todo_db
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: todo_password
    ports:
      - "5432:5432"
    volumes:
      - todo-db-data:/var/lib/postgresql/data

volumes:
  todo-db-data:
